# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Dependencies
node_modules/

# VSC
.vscode/

# logi i zmienne środowiskowe
*.log
npm-debug.log*
**/.env
.env.local
.env

# Build files
dist/
build/
# OS files
.DS_Store
Thumbs.db